#contact-info {
  font-size: .8em;
}

.job {
  background-color: #e9e5dc;
  padding: 20px;
  margin: 20px 20px;
  border-radius: 15px;
}

.list {
  font-size: .8em;
}

.job:hover {
  background-color: blue;
}

section > h3 {
  color: green;
}

#coach {
  color: black;
}